<header>
	<section>
		<p>Registro</p>
		<p>Log in</p>
	</section>

	<section>
		<h1>Music Events</h1>
	</section>
</header>

<article>
	<section>
		<%= link_to("Locations", locations_path) %>
	</section>

	<section>
		
	</section>

	<section>
		
	</section>
</article>

<footer>
	<p>Created by Lannister House</p>
</footer>