<h2>Locations:</h2>
<ul>
<% @locations.each do |location| %>
	<li>
		<b>Location: </b><%= link_to(location.name + " - " + location.city, location_path(location)) %> 
	</li>
<% end %>
</ul>

<%= link_to("New", new_location_path) %>

